/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.a {
    color: blue;
    text-decoration: wavy;
    text-align: center;
}

.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border-width: medium ;
    background: #add8e6;
    color: coral;
    font-weight: bold;
    padding: 7px 20px;
    cursor: pointer;   
}

.btn-hover {
    background: #666;
}

.del {
    background: red;
    color: blanchedalmond;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.todo {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

.isComplete {
    text-decoration: line-through;
}